* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #7e0b80;
}
a:hover,
a:focus {
	text-decoration: underline;
}
.brand-title,
.post-title,
.pure-form legend,
.pure-table caption{
	font-family: 'Carrois Gothic', sans-serif;
}
/*********************
	=layout css
*********************/	
#layout {
	padding: 0;
}
.sidebar {
	background: #220322;
	color: #f7f7f7;
}
.header {
	text-align: center;
	top: auto;
	margin: 3em auto;
}
.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
}
.brand-title a{
	color: #fff;
}
.brand-title a:hover{
	text-decoration: none;
	color: #fff;
}
.brand-tagline {
	font-weight: 300;
	color: #7e0b80;
}
.nav-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.nav-item a {
	background: transparent;
	border: 2px solid #5f0861;
	color: #f7f7f7;
	margin-top: 1em;
	letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
	border: 2px solid #7e0b80;
	text-decoration: none;
}

/* CSS For Posts */

.content-subhead {
	text-transform: uppercase;
	color: #aaa;
	border-bottom: 1px solid #eee;
	padding: 0.4em 0;
	font-size: 80%;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.content { padding: 2em 1em 0; }

.post { padding-bottom: 2em; }

.post-title {
	font-size: 1.8em;
	color: #222;
	margin-bottom: 0.2em;
	text-transform: capitalize;
}
.post-title a{
	text-decoration: none;
	color: #222;
	text-transform: capitalize;
}
.post-description {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	line-height: 1.8em;
}
.
.post-meta {
	color: #999;
	font-size: 90%;
	margin: 0;
}
.post-meta a, .post-description a, .post-header a{
	text-decoration: none;
}
.post-category{
	margin: 0 0.1em;
	padding: 0.3em 1em;
	color: #fff;
	background: #999;
	font-size: 80%;
}
.post-category-pure {
    background: #772277;
}

/* Footer */
.footer{
	text-align: center;
	padding: 1em 0;
}

.footer a {
	color: #555;
	font-size: 80%;
}
.bottom {
	font-size: 1em;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

/*********************
	css for form
*********************/	
.container {
	width: 700px;
	margin: auto;
	margin-top: 30px;
}
.pure-form input[type="text"],
.pure-form input[type="email"],
.pure-form input[type="password"],
.pure-form textarea {
	margin-bottom: 1em;
	width: 100%;
}
textarea {
	height: 500px;
}
.pure-form legend{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.pure-form button[type="submit"] {
	background: #220322;
	color: #fff;
	margin-top: 5px;
}
.error {
	color: #5f0861;
	font-style: italic;
	font-weight: bold;
}
.pure-form input[type="search"]{
	background: #fff url('../img/find_magnifier_icon.png') no-repeat;
	background-position: 5px 8px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 370px;
}
/*********************
	=scroll
*********************/	
.scrollup {
	width: 40px;
	height: 40px;
	opacity: 0.5;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	text-indent: -9999px;
	background: url('../img/top.png') no-repeat;
}
/*********************
	=about
*********************/	
.article {
	background: #eee;
	padding: 20px;
	border-radius: 10px;
}
/*Prettify css*/
pre.prettyprint {
	border-radius: 5px;
  	font-family: Verdana, Geneva, sans-serif;
}
ol.linenums{
	margin: 0;
}
/* Table */
.pure-table caption{
	font-size: 1.8em;
	font-style: normal;
}
.pure-table{
	width: 700px;
	margin: auto;
}
.pure-table td, .pure-table th{
	border-bottom: 1px solid #cbcbcb;
	padding: 10px;
	text-align: center;
}
