* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #7e0b80;
}
a:hover,
a:focus {
	text-decoration: underline;
}

/*********************
	=layout css
*********************/	
#layout {
	padding-left: 25%;
	position: relative;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 25%;
	margin-left: -25%;
	background: #220322;
	color: #f7f7f7;
}
.header {
	margin: 50% 2em 0;
	text-align: right;
}
.brand-title {
	text-transform: uppercase;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: normal;
}
.brand-tagline {
	font-weight: 300;
	color: #7e0b80;
}
.nav-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.nav-item a {
	background: transparent;
	border: 3px solid #5f0861;
	color: #f7f7f7;
	margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
	border: 3px solid #7e0b80;
	color: #9d0e9f;
	text-decoration: none;
}

/* CSS For Posts */

.content-subhead {
	text-transform: uppercase;
	color: #aaa;
	border-bottom: 1px solid #eee;
	padding: 0.4em 0;
	font-size: 80%;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.content { padding: 2em 3em 0; }

.post { padding-bottom: 2em; }

.post-title {
	font-size: 2em;
	color: #222;
	margin-bottom: 0.2em;
}

.post-description {
	font-family:  Georgia, "cambria", serif;
	color: #444;
	line-height: 1.8em;
	padding-top: 20px;
	padding-bottom: 20px;
}

.post-meta {
	color: #999;
	font-size: 90%;
	margin: 0;
}

/* Footer */
.footer{
	text-align: center;
	padding: 1em 0;
}

.footer a {
	color: #ccc;
	font-size: 80%;
}
.bottom {
	font-size: 80%;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    #layout {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 2em 1em 0;
    }
}

/*********************
	css for form
*********************/	
.container {
	width: 600px;
	margin: auto;
	margin-top: 30px;
}
.pure-form input[type="text"],
.pure-form textarea {
	margin-bottom: 1.5em;
}
textarea {
	height: 300px;
}
legend{
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
}
.pure-form button[type="submit"] {
	background: #220322;
	color: #fff;
}
.error {
	color: red;
	font-style: italic;
}
li.dark a {
	color: #7e0b80;
}

/*********************
	=scroll
*********************/	
.scrollup {
	width: 40px;
	height: 40px;
	opacity: 0.5;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	text-indent: -9999px;
	background: url('../img/top.png') no-repeat;
}
/*********************
	=about
*********************/	
.article {
	background: #eee;
	padding: 20px;
	border-radius: 10px;
}